{% extends 'shop/base.html' %}
{%  block title %} Checkout page {%endblock%}

{% block body %}  
<div class="container">
    <div class="col my-4">
        <h3>Step 1 - Shop Next Door Checkout - Review Your Cart Items</h3>
        <div>
            <ul class="list-group my-3" id="items">
                
            </ul>
        </div>
        <a href="/shop/" class="btn btn-blue col-md-2" >Back</a>
    </div>
    <div class="col my-4">
        <h3>Step 2 - Enter Address & Other Details:</h3>
        <form action="/shop/checkout/" method="POST">{% csrf_token %}
            <input type="hidden" name="orderitems_json" id="orderitems_json">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputname">Name</label>
                    <input type="text" name="name" class="form-control" id="inputname" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputZip">Phone Number</label>
                <input type="tel" name="phone" class="form-control" id="inputPhone" placeholder="Enter Mobile Number">
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAddress">Address</label>
                <input type="text" name="address1" class="form-control" id="inputAddress" placeholder="Enter Primary Address">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Address line 2</label>
                <input type="text" name="address2" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">City</label>
                    <input type="text" name="city" class="form-control" id="inputCity" placeholder="City">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">State</label>
                    <input type="text" name="state" class="form-control" id="inputAddress2" placeholder="Enter State">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Zip</label>
                    <input type="text" name="zip" class="form-control" id="inputZip" placeholder="Zip">
                </div>
            </div>    
                <button type="submit" class="btn btn-blue col-md-12" data-toggle="modal" data-target="#exampleModalCenter">Place Order</button>
            
            
        </form>
    </div>
</div>
{% endblock %}
{% block js %}

    <script>
        debugger;
        $('#clearCart').hide();
        if (localStorage.getItem('cart') == null) {
            var cart = {};
            document.getElementById('cart').innerHTML=0;
        } else {
            cart = JSON.parse(localStorage.getItem('cart'));
            console.log(cart)
        }
        if(($).isEmptyObject(cart))
        {
            appendHtml=`<div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">Shoot!</h4>
                <p>There is no items in the cart to show.</p>
                <hr>
                <p class="mb-0">Please enter some items in the cart and enjoy easy shopping with us.</p>
              </div>`;
              $('#items').append(appendHtml);
        }
        else{
            var totalPrice=0;
            var sum=0;
            for(var item in cart){
                var price=cart[item][0]*cart[item][2];
                totalPrice=totalPrice+price;
                sum=sum+cart[item][0];
                appendHtml=`<li class="list-group-item d-flex justify-content-between align-items-center ">
                   <b><em> ${cart[item][1]} </em></b>
                    <span class="badge badge-primary badge-pill" style="background-color:#7070b7;">Rs. ${cart[item][2]} * ${cart[item][0]} = Rs. ${price} </span>
                    
                </li>`;
                $('#items').append(appendHtml);

            }
            appendHtml=`<li class="list-group-item d-flex justify-content-between align-items-center ">
                <b><em> Total </em></b>
                 <span class="badge badge-primary badge-pill" style="background-color:#7070b7;">Rs. ${totalPrice} </span>
                 
             </li>`;
             $('#items').append(appendHtml);
             document.getElementById('cart').innerHTML=sum;    
        }
        
        
        $('#orderitems_json').val(JSON.stringify(cart));
        var value_json=$('#orderitems_json').val();
        console.log(value_json)
        //var order_id_js={{order_id}}
        {% if acknowledgement %}
        
        localStorage.clear();
        cart={}
        //swal("Thanks for ordering with us.Your order number is <b>"+{{order_id}}+"</b> which will used for tracking!!");
        swal({
            title: "Order Placed!",
            text: "Thanks for ordering with us.Your order number is "+{{order_id}}+" which will used for tracking!!",
            icon: "success",
            button: "OK",
          })
          .then(function(){
            document.location='/shop/';
          });
        //document.location='/shop/'

        {% endif %}

    </script>

{%endblock%}