
{% extends 'shop/base.html' %}
<!doctype html>
<div lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <title>{% block title %}
        Search Results
      {%endblock%}</title>
      {% block css %}
      {% load static %}
      <link href="{%static 'shop/css/style.css' %}" rel="stylesheet" type="text/css" />
        {% endblock %}
  </head>
  {% block body %}
  {% load static %}
  
    <!--  product Corousal start-->
    <div class="container">

      <!--Slideshow starts here -->
      {% for products,range,nSlides in allProducts %}
      
        <br>
        <hr>
      <h5 class="my-4"><strong class="banner-title">{{products.0.product_category}}</strong></h5>
      <hr>
      <div class="row">
  <div id="demo{{forloop.counter}}" class=" col carousel slide my-3" data-ride="carousel">
      <ul class="carousel-indicators" id="carousel-indicators2">
        <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
  
         {% for i in range %}
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
        {% endfor %}
      </ul>
  
  
      <div class="container carousel-inner no-padding">
  
        <div class="carousel-item active">
          
          {% for i in products %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card align-items-center" style="width: 18rem;margin:0px;padding:0px;height:25rem">
              <img src='/media/{{i.product_image}}' class="card-img-top " alt="...">
              <div class="card-body">
                <h6 class="card-title" id="nameproduct{{i.id}}">{{i.product_name}}</h6>
                <p class="card-text">{{i.product_description|slice:"0:20"}}....</p>
                <h6 class="card-title">Price: Rs <span id="priceproduct{{i.id}}">{{i.product_price}}</span></h6>
                <span id="divproduct{{i.id}}" class="divproduct">
                <button id="product{{i.id}}" class="btn btn-blue cart">Add To Cart</button>
              </span>
                <a href="/shop/productview/{{i.id}}" id="product{{i.id}}" class="btn btn-blue cart">View Product</a>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        </div><div class="carousel-item">
          {% endif %}
  
          {% endfor %}
      </div>
  
  
  
  </div>
  </div>
      <!-- left and right controls for the slide -->
      <a class="carousel-control-prev" id="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
          <span class="carousel-control-prev-icon" id="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" id="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
          <span class="carousel-control-next-icon" id="carousel-control-next-icon"></span>
      </a>
    </div>
      
      {% endfor %}
  </div>
  {% endblock %}
    {% block js %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
      debugger;
      console.log("Working");
      {% if msg|length != 0 %}
        var final_msg = '{{msg}}'
        swal({
            title: "Search Failed",
            text: '{{msg}}',
            icon: "warning",
            button: "OK",
          })
          .then(function(){
            document.location='/shop/';
          });
          {% endif %}

          var count=0;
          if(localStorage.getItem('cart')==null)
          {
            var cart={};
          }
          else
          {
            cart=JSON.parse(localStorage.getItem('cart'));
            var count=0;
            for(var item in cart) {
            
                  var value = cart[item][0];
                  count=count+value;
              
          }
            document.getElementById('cart').innerHTML=count;
            
          }
          
          $('.divproduct').on('click','button.cart',function(){
    
            console.log("clicked")
            idstr=this.id.toString();
            console.log(idstr);
            
            if(cart[idstr]!=undefined)
            {
              quantity=cart[idstr][0]+1;
              
            }
            else{
              quantity=1;
              product_name=document.getElementById("name"+idstr).innerHTML;
              product_price=document.getElementById("price"+idstr).innerHTML;
              cart[idstr]=[quantity,product_name,parseInt(product_price)];
    
              
            }
            console.log(cart);
            localStorage.setItem('cart',JSON.stringify(cart));
            updateCart();
            //document.getElementById('cart').innerHTML=Object.keys(cart).length;
          });

          //$('#popcart').popover();    
          updatePopover(cart);
          function updatePopover(cart){
            debugger;
            var popStr="";
            popStr=popStr+"<h6>Items in your shopping cart</h6><div class='my-2'>";
            var i=1;
            var totalPrice=0;
            for(var item in cart){
              
              popStr=popStr+i+") ";
              var price=0;
              price=cart[item][2]*cart[item][0];
              //price=document.getElementById('price'+item).innerHTML*cart[item][0];
              totalPrice=totalPrice+price;
              popStr=popStr+cart[item][1].slice(0,12)+"...Rs "+cart[item][2]+" * "+cart[item][0]+" = <b>Rs "+ price+"</b><br>";
              i=i+1;
              
            }
            popStr=popStr+"</div>";
            popStr=popStr+"<div class='btn btn-sm btn btn-blue col-md-12'>Total Bill is "+totalPrice+"</div><br>";
            popStr=popStr+"<div><a href='/shop/checkout' class='btn btn-sm btn-blue col-md-12 my-2' >Checkout</a></div>";
            console.log(popStr);
            document.getElementById("popcart").setAttribute('data-content', popStr);
           // $('.cartpopup').on('click','button.popcart',function(){
           //   $('#popcart').popover('toggleEnabled');
          //  });
            $('#popcart').click(function(){
              $('#popcart').popover('show');
            })
            
            
              
    
          }

          function clearCart()
          {
            debugger;
            cart=JSON.parse(localStorage.getItem('cart'));
            if(cart==null)
            {
              swal("Cart is already empty");
              
            }
            else{
              localStorage.clear();
              cart={};
            }
            for(var item in cart){
              if(document.getElementById('div'+item)!=null)
              document.getElementById('div'+item).innerHTML=`<button id="${item}" class="btn btn-blue cart">Add To Cart</button>`;
            }
            updateCart();
          }
          //document.getElementById("popcart").setAttribute('data-content', '<h6>Cart for your items in my shopping cart</h6>');
    
          function updateCart()
          {
            debugger;
            var sum=0;
            for(var item in cart){
              sum=sum+cart[item][0];
              let div_element="div"+item;
              if(document.getElementById(div_element)!=null){
                document.getElementById("div"+item).innerHTML = "<button id='minus"+item+"' class='btn btn-blue minus' ><b>-</b></button><span id='val"+item+"' ><b style='padding:5px;'>"+cart[item][0]+"</b></span><button id='plus"+item+"' class='btn btn-blue plus' ><b>+</b></button>";
              }
              
            }
            document.getElementById('cart').innerHTML=sum;
            updatePopover(cart);
          }
          $('.divproduct').on('click','button.minus',function(){
            console.log("minus")
            item_number=this.id.slice(12,)
            cart['product'+item_number][0]=cart['product'+item_number][0]-1;
            cart['product'+item_number][0]=Math.max(0,cart['product'+item_number][0]);
            document.getElementById('valproduct'+item_number).innerHTML=cart['product'+item_number][0];
            if(cart['product'+item_number][0]==0)
            {document.getElementById('divproduct'+item_number).innerHTML=`<button id="product${item_number}" class="btn btn-blue cart">Add To Cart</button>`
            delete cart['product'+item_number];
            }
            else{
              document.getElementById('valproduct'+item_number).innerHTML=cart['product'+item_number][0];
            }
            localStorage.setItem('cart',JSON.stringify(cart));
            updateCart();
            console.log(item_number);
          });
          $('.divproduct').on('click','button.plus',function(){
            debugger;
            console.log("plus")
            item_number=this.id.slice(11,);
            cart['product'+item_number][0]=cart['product'+item_number][0]+1;
      
            //Math.max(0,item_number);
            document.getElementById('valproduct'+item_number).innerHTML=cart['product'+item_number][0];
            localStorage.setItem('cart',JSON.stringify(cart));
            updateCart();
            console.log(item_number);
          });

    </script>
    
    {% endblock %}
      <!--
       card Corousal end
    -->